<div class="page-header">
  <span class="title-font">We Are Dark Ritual</span>
</div>

<div class= container>
  <div class="row">
    <div class="col-sm-4">
      <td><img src="../static/images/JavierV1.0.png" width="200px"></td>
    </div>
    <div class="col-sm-8">  
      <td><img src="../static/images/ShanellV1.0.png" width="200px"></td>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <td><img src="../static/images/PeterV1.0.png" width="200px"></td>
    </div>  
    <div class="col-sm-8">
      <td><img src="../static/images/StephanieV1.0.png" width="200px"></td>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-4">
      <td><img src="../static/images/MarkV1.0.png" width="200px"></td>
    </div>  
    <div class="col-sm-8">
      <td><img src="../static/images/TonyaV1.0.png" width="200px"></td>
    </div>
  </div>
</div>
