<div class="page-header">
  <span class="title-font">Cards</span>
</div>


<!-- Table -->
<div class= container>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Card</th>
            <th><center>Artist</center></th>
            <th><center>Set</center></th>
            <th><center>Extra - Type</center></th>
            <th><center>Extra - Cost</center></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Admonition Angel</td>
            <td><center>Steve Argyle</center></td>
            <td><center>WorldWake</center></td>
            <td><center>Creature - Angel</center></td>
            </tr>
          <tr>
            <td>Deep Water</td>
            <td><center>Jeff A. Manges</center></td>
            <td><center>The Dark</center></td>
            <td><center>Enchantment</center></td>            
          </tr>
          <tr>
            <td>Mountain</td>
            <td><center>Nils Hamm</center></td>
            <td><center>All Sets</center></td>
            <td><center>Basic Land</center></td>
            <td><center>-</center></td>
          </tr>
          <tr ng-repeat="card in cards">
            <td>{{card.name}}</td>
            <td><center>{{card.url}}</center></td>
            <td><center>{{card.store_url}}</center></td>
            <td><center>{{card.colors}}</center></td>
            <td><center>{{card.cost}}</center></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
